
<div class="">
    <div>
        <app-main-carousel />
    </div>

    <div class="product">
        <app-home-product-slider title="Men's Jeans" [products]="menJeans" />
        <app-home-product-slider title="Women's Gouns" [products]="womenGouns" />
        <app-home-product-slider title="Women's Kurti" [products]="womnesKurti" />
        <!-- <app-home-product-slider title="Lehenga Choli" [products]="lehengaCholi" /> -->
        <app-home-product-slider title="Men's Kurta" [products]="mensKurta"  />
        <app-home-product-slider title="Shoes" [products]="shoes" />
    </div>
</div>