<div class="p-5 lg:p-10 mt-10">
  <p class="text-gray-500">product/clothes/women/saree</p>
  <section class="lg:grid grid-cols-3 lg:gap-10">
    <div class="col-span-2 flex items-center flex-col">
      <img
        src="https://rukminim1.flixcart.com/image/612/612/xif0q/kurta/y/c/x/xl-kast107hp-majestic-man-original-imafw49u5uty4agx-bb.jpeg?q=70"
        alt=""
        class=""
      />
    </div>

    <div class="col-span-1 space-y-10 mt-10 lg:mt-0">
      <div class="space-y-2">
        <p class="font-semibold text-gray-600 text-lg">Notifier</p>
        <p class="text-xl">Men Solid Pure Cotton Stright Kurta`</p>
      </div>

      <div class="flex items-center space-x-5">
        <p class="text-lg">₹393</p>
        <p class="text-lg text-gray-700 line-through">₹2999</p>
        <p class="text-green-400 font-semibold text-lg">80%</p>
      </div>

      <div class="">
        <p class="text-lg font-semibold">Size</p>
        <mat-radio-group
          class="space-x-5"
          [(ngModel)]="selectedSize"
          aria-label="Select an option"
        >
          <mat-radio-button value="S"><span>S</span></mat-radio-button>
          <mat-radio-button value="M"><span>M</span></mat-radio-button>
          <mat-radio-button value="L"><span>L</span></mat-radio-button>
          <mat-radio-button value="XL"><span>XL </span></mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="">
        <button
          class="p-[1.5rem] w-full"
          color="accent"
          mat-raised-button
          (click)="handleAddToCart()"
        >
          Add To Cart
        </button>
      </div>

      <div class="">
        <p class="text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          est neque ullam ratione voluptates dolore minus quidem placeat, rem
          saepe fugiat eos porro possimus officia in esse tenetur eligendi amet!
        </p>
        <p class="text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          est neque ullam ratione voluptates dolore minus quidem placeat, rem
          saepe fugiat eos porro possimus officia in esse tenetur eligendi amet!
        </p>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-10 px-5 lg:px-20">
    <h1 class="pb-4 font-semibold text-lg">Recent Review & Ratings</h1>
    <div class="border border-[#1a1a1a] rounded-md p-5">
      <div class="lg:grid grid-cols-12 gap-7">
        <div class="col-span-7">
          <div class="space-y-5">
            <ng-container *ngFor="let item of reviews">
              <app-product-review-card [review]="item" />
            </ng-container>
          </div>
        </div>
        <!-- ratings -->
         <div class="col-span-5 mt-10 lg:mt-0">
          <div class="box">
            <h1 class="text-xl font-semibold pb-1">Products Ratings</h1>
            <div class="flex items-center space-x-3 pb-10">
             <app-ratings></app-ratings>
              <p class="opacity-60">84636</p>
            </div>
            <div class="space-y-3">

              <div class="">
                <div class="grid grid-cols-12 justify-around items-center">
                  <div class="col-span-2">
                    <span class="">Excellent</span>
                  </div>
                  <div class="col-span-8 px-4 flex flex-col gap-5">
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                  </div>
                  <div class="col-span-2 ">
                    <span class="opacity-50">131466</span>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="grid grid-cols-12 justify-around items-center">
                  <div class="col-span-2">
                    <span class="">Very Good</span>
                  </div>
                  <div class="col-span-8 px-4 flex flex-col gap-5">
                    <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                  </div>
                  <div class="col-span-2 ">
                    <span class="opacity-50">5136</span>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="grid grid-cols-12 justify-around items-center">
                  <div class="col-span-2">
                    <span class="">Good</span>
                  </div>
                  <div class="col-span-8 px-4 flex flex-col gap-5">
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                  </div>
                  <div class="col-span-2 ">
                    <span class="opacity-50">231466</span>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="grid grid-cols-12 justify-around items-center">
                  <div class="col-span-2">
                    <span class="">Average</span>
                  </div>
                  <div class="col-span-8 px-4 flex flex-col gap-5">
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                  </div>
                  <div class="col-span-2 ">
                    <span class="opacity-50">56322</span>
                  </div>
                </div>
              </div>

              <div class="">
                <div class="grid grid-cols-12 justify-around items-center">
                  <div class="col-span-2">
                    <span class="">Poor</span>
                  </div>
                  <div class="col-span-8 px-4 flex flex-col gap-5">
                    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                  </div>
                  <div class="col-span-2 ">
                    <span class="opacity-50">4463</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
         </div>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <h1 class="py-5 text-gray-400"> Related Products</h1>

    <div class="flex justify-around flex-wrap">
      <div class="" *ngFor="let item of relatedProducts">
        <app-product-card [product]="item" />
      </div>
    </div>
  </section>
</div>
